[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "java-complete"]
	path = bundle/javacomplete
	url = http://github.com/vim-scripts/javacomplete.git
[submodule "bundle/nerd-bookmark-switcher"]
	path = bundle/nerd-bookmark-switcher
	url = http://github.com/sheldonirwin/bookmark-switcher.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = http://github.com/tpope/vim-abolish.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = http://github.com/tpope/vim-commentary.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "bundle/hex-highlight"]
	path = bundle/hex-highlight
	url = http://github.com/vim-scripts/hexHighlight.vim.git
[submodule "bundle/hi-link-trace"]
	path = bundle/hi-link-trace
	url = http://github.com/gerw/vim-HiLinkTrace.git
