/**
 * Assignment ${1} - Question ${2}
 * =========================${6}
 *
 * Student Name:	${3:`g:snips_author`}
 * Student Number:	IRWSHE003
 * Course Code:		CSC1016S
 * Date:			${4:`strftime("%a, %d %b %G")`}
 *
 * class ${5:`Snippet_JavaClassNameFromFilename()`}
 * @author $3
 */
