package sheldon.apps.${1}

// Imports {{{1

// }}}1

/**
 * class $2
 * @author ${3:`g:snips_author`}
 */
${1:public} class ${2:`Snippet_JavaClassNameFromFilename()`} {
	
	// Fields {{{1
	
	${4}
	
	// Constructors {{{1
	
	public $2(){
		
	}
	
	// Getters and Setters {{{1
	
	
	
	// }}}1
	
}
